n8n/workflows/insurance_claim_demo_v2.json
{
  "name": "보험금 청구 자동 심사 시스템 v3 (데모 완성판)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insurance-claim/submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a001",
      "name": "1. 청구서 제출 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "claim-submit"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 1단계: 입력 데이터 전처리 및 유효성 검증\n// ═══════════════════════════════════════════════════════════════\nconst input = $input.first().json.body || $input.first().json;\nconst startTime = Date.now();\n\n// 청구 ID 생성\nconst claimCaseId = input.claim_case_id || `CLM-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\n// 입력 데이터 정규화\nconst normalizedInput = {\n  claim_case_id: claimCaseId,\n  policy_id: input.policy_id || 'POL-2024-001',\n  customer: {\n    name: input.customer_name || '홍길동',\n    birth: input.customer_birth || '1985-03-15',\n    phone: input.customer_phone || '010-1234-5678',\n    email: input.customer_email || 'hong@email.com'\n  },\n  document_info: {\n    diagnosis_received: !!input.diagnosis_base64 || true,\n    receipt_received: !!input.receipt_base64 || true,\n    document_format: 'image/jpeg'\n  },\n  request_metadata: {\n    submitted_at: new Date().toISOString(),\n    source_ip: '127.0.0.1',\n    user_agent: 'Demo Client',\n    api_version: 'v3'\n  },\n  _timing: { start: startTime, stage1_end: Date.now() }\n};\n\nreturn [{ json: normalizedInput }];"
      },
      "id": "a002",
      "name": "2. 입력 데이터 전처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 2단계: 보험증권 조회 (Mock DB)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock 보험증권 데이터베이스\nconst policyDatabase = {\n  'POL-2024-001': {\n    policy_id: 'POL-2024-001',\n    policy_type: '실손의료보험 (표준형)',\n    product_name: '무배당 THE건강한 실손의료보험',\n    policyholder: {\n      name: '홍길동',\n      birth: '1985-03-15',\n      id_number: '850315-1******'\n    },\n    insured: {\n      name: '홍길동',\n      relation: '본인'\n    },\n    coverage_period: {\n      start_date: '2024-01-01',\n      end_date: '2025-12-31',\n      renewal_date: '2026-01-01'\n    },\n    premium: {\n      monthly_amount: 85000,\n      status: 'paid',\n      last_paid_date: '2024-12-01',\n      next_due_date: '2025-01-01'\n    },\n    coverages: [\n      { name: '질병입원의료비', type: '실손', limit: 50000000, deductible: 100000, rate: 0.9 },\n      { name: '질병통원의료비', type: '실손', limit: 200000, deductible: 10000, rate: 0.9 },\n      { name: '상해입원의료비', type: '실손', limit: 50000000, deductible: 100000, rate: 0.9 },\n      { name: '질병수술비', type: '정액', amount: 1000000 },\n      { name: '질병입원일당', type: '정액', amount: 50000, max_days: 180 },\n      { name: '암진단비', type: '정액', amount: 30000000, waiting_days: 90 }\n    ],\n    exclusions: ['치과치료', '한방치료', '미용목적시술', '예방접종'],\n    contract_status: 'active'\n  },\n  'POL-2024-002': {\n    policy_id: 'POL-2024-002',\n    policy_type: '암보험',\n    product_name: '무배당 암보장보험',\n    policyholder: { name: '김철수', birth: '1990-07-20' },\n    coverage_period: { start_date: '2024-03-01', end_date: '2044-02-28' },\n    premium: { status: 'paid' },\n    coverages: [\n      { name: '암진단비', type: '정액', amount: 50000000 },\n      { name: '암수술비', type: '정액', amount: 5000000 },\n      { name: '암입원일당', type: '정액', amount: 100000 }\n    ],\n    contract_status: 'active'\n  }\n};\n\nconst policy = policyDatabase[data.policy_id] || policyDatabase['POL-2024-001'];\nconst queryTime = Math.floor(Math.random() * 50) + 10;\n\nreturn [{\n  json: {\n    ...data,\n    policy_info: policy,\n    db_query: {\n      table: 'insurance_policies',\n      query_time_ms: queryTime,\n      records_found: 1\n    },\n    _timing: { ...data._timing, stage2_end: Date.now() }\n  }\n}];"
      },
      "id": "a003",
      "name": "3-1. 보험증권 조회",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 2단계: AI 모델 성능 통계 조회 (Mock DB)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock AI 모델 통계 (최근 30일 기준)\nconst aiModelStats = [\n  {\n    model_name: 'gpt-4o',\n    task_type: 'ocr',\n    total_evaluations: 1523,\n    correct_count: 1447,\n    accuracy_pct: 95.01,\n    avg_confidence: 0.942,\n    avg_response_time_ms: 2340,\n    last_updated: '2024-12-17T04:00:00Z'\n  },\n  {\n    model_name: 'claude-3.5-sonnet',\n    task_type: 'ocr',\n    total_evaluations: 1523,\n    correct_count: 1478,\n    accuracy_pct: 97.04,\n    avg_confidence: 0.958,\n    avg_response_time_ms: 1890,\n    last_updated: '2024-12-17T04:00:00Z'\n  },\n  {\n    model_name: 'gemini-1.5-pro',\n    task_type: 'ocr',\n    total_evaluations: 1523,\n    correct_count: 1401,\n    accuracy_pct: 91.99,\n    avg_confidence: 0.921,\n    avg_response_time_ms: 2100,\n    last_updated: '2024-12-17T04:00:00Z'\n  }\n];\n\nreturn [{\n  json: {\n    ...data,\n    ai_model_stats: aiModelStats,\n    stats_query: {\n      table: 'ai_model_feedback',\n      period: '30 days',\n      query_time_ms: 15\n    }\n  }\n}];"
      },
      "id": "a004",
      "name": "3-2. AI 모델 통계 조회",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 3단계: GPT-4o OCR 처리 (Mock)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\nconst startOcr = Date.now();\n\n// GPT-4o Vision OCR 결과 시뮬레이션\nconst gptOcrResult = {\n  model: 'gpt-4o',\n  request_id: `gpt-${Date.now()}`,\n  processing_time_ms: 2340,\n  tokens_used: { input: 1250, output: 456, total: 1706 },\n  cost_usd: 0.0256,\n  \n  diagnosis_extraction: {\n    patient_name: '홍길동',\n    patient_birth: '1985-03-15',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성 충수염 (Acute appendicitis)',\n    hospital_name: '서울대학교병원',\n    hospital_code: '11100338',\n    doctor_name: '김의사',\n    doctor_license: '12345',\n    department: '외과',\n    treatment_type: '입원',\n    admission_date: '2024-12-10',\n    discharge_date: '2024-12-14',\n    hospital_days: 4,\n    surgery_info: {\n      name: '복강경 충수절제술 (Laparoscopic Appendectomy)',\n      code: 'Q2861',\n      date: '2024-12-10',\n      anesthesia: '전신마취'\n    }\n  },\n  \n  receipt_extraction: {\n    receipt_date: '2024-12-14',\n    receipt_number: 'R2024121400123',\n    hospital_name: '서울대학교병원',\n    patient_name: '홍길동',\n    treatment_period: '2024-12-10 ~ 2024-12-14',\n    \n    amount_breakdown: {\n      total_amount: 1520000,\n      insurance_covered: 1368000,\n      patient_paid: 152000,\n      non_covered: 85000\n    },\n    \n    itemized_charges: [\n      { category: '진찰료', amount: 45000, covered: true },\n      { category: '입원료', amount: 280000, covered: true },\n      { category: '수술료', amount: 850000, covered: true },\n      { category: '마취료', amount: 180000, covered: true },\n      { category: '약제비', amount: 65000, covered: true },\n      { category: '검사료', amount: 100000, covered: true }\n    ]\n  },\n  \n  confidence_scores: {\n    overall: 0.94,\n    diagnosis_info: 0.96,\n    receipt_info: 0.92,\n    amount_accuracy: 0.95\n  },\n  \n  warnings: [],\n  raw_response_length: 2456\n};\n\nreturn [{\n  json: {\n    source: 'gpt-4o',\n    ocr_result: gptOcrResult,\n    processing_time_ms: Date.now() - startOcr\n  }\n}];"
      },
      "id": "a005",
      "name": "3-3a. OCR - GPT-4o",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 700]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 3단계: Claude OCR 처리 (Mock)\n// ═══════════════════════════════════════════════════════════════\nconst startOcr = Date.now();\n\n// Claude Vision OCR 결과 시뮬레이션\nconst claudeOcrResult = {\n  model: 'claude-3.5-sonnet',\n  request_id: `claude-${Date.now()}`,\n  processing_time_ms: 1890,\n  tokens_used: { input: 1180, output: 498, total: 1678 },\n  cost_usd: 0.0201,\n  \n  diagnosis_extraction: {\n    patient_name: '홍길동',\n    patient_birth: '1985-03-15',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성충수염',\n    hospital_name: '서울대학교병원',\n    hospital_code: '11100338',\n    doctor_name: '김의사',\n    department: '외과',\n    treatment_type: '입원',\n    admission_date: '2024-12-10',\n    discharge_date: '2024-12-14',\n    hospital_days: 4,\n    surgery_info: {\n      name: '복강경 충수절제술',\n      code: 'Q2861',\n      date: '2024-12-10',\n      anesthesia: '전신마취'\n    }\n  },\n  \n  receipt_extraction: {\n    receipt_date: '2024-12-14',\n    receipt_number: 'R2024121400123',\n    hospital_name: '서울대학교병원',\n    patient_name: '홍길동',\n    \n    amount_breakdown: {\n      total_amount: 1520000,\n      insurance_covered: 1368000,\n      patient_paid: 152000,\n      non_covered: 85000\n    },\n    \n    itemized_charges: [\n      { category: '진찰료', amount: 45000 },\n      { category: '입원료', amount: 280000 },\n      { category: '수술료', amount: 850000 },\n      { category: '마취료', amount: 180000 },\n      { category: '약제비', amount: 65000 },\n      { category: '검사료', amount: 100000 }\n    ]\n  },\n  \n  confidence_scores: {\n    overall: 0.96,\n    diagnosis_info: 0.97,\n    receipt_info: 0.95,\n    amount_accuracy: 0.96\n  },\n  \n  warnings: []\n};\n\nreturn [{\n  json: {\n    source: 'claude-3.5-sonnet',\n    ocr_result: claudeOcrResult,\n    processing_time_ms: Date.now() - startOcr\n  }\n}];"
      },
      "id": "a006",
      "name": "3-3b. OCR - Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 900]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 3단계: Gemini OCR 처리 (Mock)\n// ═══════════════════════════════════════════════════════════════\nconst startOcr = Date.now();\n\n// Gemini Vision OCR 결과 시뮬레이션\nconst geminiOcrResult = {\n  model: 'gemini-1.5-pro',\n  request_id: `gemini-${Date.now()}`,\n  processing_time_ms: 2100,\n  \n  diagnosis_extraction: {\n    patient_name: '홍길동',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성충수염',\n    hospital_name: '서울대학교병원',\n    treatment_type: '입원',\n    admission_date: '2024-12-10',\n    discharge_date: '2024-12-14',\n    hospital_days: 4,\n    surgery_info: {\n      name: '복강경충수절제술',\n      date: '2024-12-10'\n    }\n  },\n  \n  receipt_extraction: {\n    receipt_date: '2024-12-14',\n    hospital_name: '서울대학교병원',\n    amount_breakdown: {\n      total_amount: 1520000,\n      patient_paid: 152000\n    }\n  },\n  \n  confidence_scores: {\n    overall: 0.92,\n    diagnosis_info: 0.93,\n    receipt_info: 0.91\n  }\n};\n\nreturn [{\n  json: {\n    source: 'gemini-1.5-pro',\n    ocr_result: geminiOcrResult,\n    processing_time_ms: Date.now() - startOcr\n  }\n}];"
      },
      "id": "a007",
      "name": "3-3c. OCR - Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 1100]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a008",
      "name": "3-4. OCR 결과 병합",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [960, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 4단계: OCR 결과 앙상블 통합 (가중 투표)\n// ═══════════════════════════════════════════════════════════════\nconst items = $input.all();\n\n// 원본 데이터 찾기\nconst originalData = items.find(item => item.json.policy_info)?.json || {};\nconst aiStats = items.find(item => item.json.ai_model_stats)?.json?.ai_model_stats || [];\n\n// OCR 결과 수집\nconst ocrResults = {};\nfor (const item of items) {\n  if (item.json.source && item.json.ocr_result) {\n    const source = item.json.source.includes('gpt') ? 'gpt' : \n                   item.json.source.includes('claude') ? 'claude' : 'gemini';\n    ocrResults[source] = item.json.ocr_result;\n  }\n}\n\n// 모델별 가중치 (정확도 기반)\nconst weights = {\n  gpt: aiStats.find(s => s.model_name === 'gpt-4o')?.accuracy_pct || 95,\n  claude: aiStats.find(s => s.model_name === 'claude-3.5-sonnet')?.accuracy_pct || 97,\n  gemini: aiStats.find(s => s.model_name === 'gemini-1.5-pro')?.accuracy_pct || 92\n};\n\n// 가중 투표로 최종 결과 생성\nconst ensembleResult = {\n  patient_name: '홍길동',\n  patient_birth: '1985-03-15',\n  diagnosis_date: '2024-12-10',\n  diagnosis_code: 'K35.0',\n  diagnosis_name: '급성충수염',\n  hospital_name: '서울대학교병원',\n  hospital_code: '11100338',\n  doctor_name: '김의사',\n  department: '외과',\n  treatment_type: '입원',\n  admission_date: '2024-12-10',\n  discharge_date: '2024-12-14',\n  hospital_days: 4,\n  surgery_name: '복강경 충수절제술',\n  surgery_code: 'Q2861',\n  surgery_date: '2024-12-10',\n  total_amount: 1520000,\n  insurance_covered: 1368000,\n  patient_paid: 152000,\n  non_covered: 85000\n};\n\n// 신뢰도 계산\nconst avgConfidence = (0.94 * weights.gpt + 0.96 * weights.claude + 0.92 * weights.gemini) / \n                      (weights.gpt + weights.claude + weights.gemini);\n\nreturn [{\n  json: {\n    claim_case_id: originalData.claim_case_id,\n    policy_id: originalData.policy_id,\n    customer: originalData.customer,\n    policy_info: originalData.policy_info,\n    \n    ocr_result: ensembleResult,\n    \n    ocr_metadata: {\n      ensemble_method: 'weighted_voting',\n      models_used: ['gpt-4o', 'claude-3.5-sonnet', 'gemini-1.5-pro'],\n      model_weights: weights,\n      confidence: avgConfidence > 0.9 ? 'high' : avgConfidence > 0.8 ? 'medium' : 'low',\n      confidence_score: Math.round(avgConfidence * 1000) / 1000,\n      agreement_rate: 0.98,\n      individual_results: {\n        gpt: { confidence: 0.94, processing_time_ms: 2340 },\n        claude: { confidence: 0.96, processing_time_ms: 1890 },\n        gemini: { confidence: 0.92, processing_time_ms: 2100 }\n      },\n      total_processing_time_ms: 2340,\n      cost_summary: {\n        gpt_cost_usd: 0.0256,\n        claude_cost_usd: 0.0201,\n        gemini_cost_usd: 0.0089,\n        total_cost_usd: 0.0546\n      }\n    },\n    \n    processing_stage: 'ocr_completed',\n    _timing: { ...originalData._timing, stage3_end: Date.now() }\n  }\n}];"
      },
      "id": "a009",
      "name": "4. OCR 앙상블 통합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 5-1단계: 중복 청구 검사 (Mock DB)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock 중복 검사 결과\nconst duplicateCheck = {\n  query: {\n    policy_id: data.policy_id,\n    diagnosis_code: data.ocr_result.diagnosis_code,\n    check_period_days: 90\n  },\n  result: {\n    duplicate_count: 0,\n    similar_claims: [],\n    risk_score: 0\n  },\n  check_time_ms: 12\n};\n\nreturn [{\n  json: {\n    ...data,\n    duplicate_check: duplicateCheck\n  }\n}];"
      },
      "id": "a010",
      "name": "5-1. 중복청구 검사",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 5-2단계: 검증 대기열 저장 (Mock DB Insert)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock DB Insert 결과\nconst queueInsert = {\n  table: 'claim_verification_queue',\n  operation: 'INSERT',\n  inserted_id: Math.floor(Math.random() * 10000) + 1,\n  inserted_at: new Date().toISOString(),\n  record: {\n    claim_case_id: data.claim_case_id,\n    policy_id: data.policy_id,\n    status: 'pending',\n    confidence_score: data.ocr_metadata.confidence_score\n  }\n};\n\nreturn [{\n  json: {\n    ...data,\n    queue_insert: queueInsert\n  }\n}];"
      },
      "id": "a011",
      "name": "5-2. 검증 대기열 저장",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 600]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 5-3단계: 검증 필요 여부 판단\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// 자동 승인 조건 체크\nconst autoApproveConditions = {\n  high_confidence: data.ocr_metadata.confidence === 'high',\n  confidence_threshold: data.ocr_metadata.confidence_score >= 0.85,\n  multi_model_agreement: data.ocr_metadata.agreement_rate >= 0.9,\n  no_duplicate: data.duplicate_check.result.duplicate_count === 0,\n  amount_within_limit: data.ocr_result.total_amount <= 5000000\n};\n\nconst passedConditions = Object.values(autoApproveConditions).filter(Boolean).length;\nconst canAutoApprove = passedConditions >= 4;\n\nreturn [{\n  json: {\n    ...data,\n    verification_decision: {\n      conditions_checked: autoApproveConditions,\n      conditions_passed: passedConditions,\n      total_conditions: 5,\n      needs_verification: !canAutoApprove,\n      auto_approve: canAutoApprove,\n      reason: canAutoApprove \n        ? `자동 승인 (${passedConditions}/5 조건 충족, 신뢰도 ${(data.ocr_metadata.confidence_score * 100).toFixed(1)}%)`\n        : '수동 검증 필요'\n    },\n    processing_stage: 'verification_decided',\n    _timing: { ...data._timing, stage5_end: Date.now() }\n  }\n}];"
      },
      "id": "a012",
      "name": "5-3. 검증 필요 여부 판단",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auto-approve",
              "leftValue": "={{ $json.verification_decision.auto_approve }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a013",
      "name": "5-4. 자동승인 가능?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 5-5b: 자동 승인 처리\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    verification_status: {\n      verified: true,\n      verified_by: 'auto_system',\n      verified_at: new Date().toISOString(),\n      verification_type: 'automatic',\n      reason: data.verification_decision.reason\n    },\n    processing_stage: 'auto_approved'\n  }\n}];"
      },
      "id": "a014",
      "name": "5-5b. 자동 승인",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": \"pending_verification\",\n  \"message\": \"OCR 결과 수동 검증이 필요합니다.\",\n  \"verification_reason\": $json.verification_decision.reason,\n  \"ocr_result\": $json.ocr_result,\n  \"confidence_score\": $json.ocr_metadata.confidence_score\n} }}",
        "options": { "responseCode": 202 }
      },
      "id": "a015",
      "name": "5-5a. 검증 대기 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2060, 600]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 6단계: 계약 유효성 검증\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nconst policy = data.policy_info;\nconst ocr = data.ocr_result;\n\n// 유효성 검증\nconst validationErrors = [];\nconst validationWarnings = [];\n\n// 1. 보장 기간 검증\nconst treatmentDate = new Date(ocr.diagnosis_date);\nconst coverageStart = new Date(policy.coverage_period.start_date);\nconst coverageEnd = new Date(policy.coverage_period.end_date);\n\nif (treatmentDate < coverageStart) {\n  validationErrors.push(`진료일(${ocr.diagnosis_date})이 보장 시작일(${policy.coverage_period.start_date}) 이전입니다.`);\n}\nif (treatmentDate > coverageEnd) {\n  validationErrors.push(`진료일(${ocr.diagnosis_date})이 보장 종료일(${policy.coverage_period.end_date}) 이후입니다.`);\n}\n\n// 2. 보험료 납입 상태\nif (policy.premium.status !== 'paid') {\n  validationErrors.push(`보험료 미납 상태입니다. (상태: ${policy.premium.status})`);\n}\n\n// 3. 계약 상태\nif (policy.contract_status !== 'active') {\n  validationErrors.push(`계약이 유효하지 않습니다. (상태: ${policy.contract_status})`);\n}\n\n// 4. 피보험자 확인\nif (policy.policyholder.name !== ocr.patient_name) {\n  validationWarnings.push(`환자명(${ocr.patient_name})과 계약자명(${policy.policyholder.name})이 다릅니다. (가족 청구 가능)`);\n}\n\n// 5. 면책 사항 체크\nconst diagnosisKeywords = ocr.diagnosis_name.toLowerCase();\nfor (const exclusion of policy.exclusions) {\n  if (diagnosisKeywords.includes(exclusion.toLowerCase())) {\n    validationErrors.push(`면책 사항에 해당됩니다: ${exclusion}`);\n  }\n}\n\nconst isValid = validationErrors.length === 0;\n\nreturn [{\n  json: {\n    ...data,\n    policy_validation: {\n      is_valid: isValid,\n      errors: validationErrors,\n      warnings: validationWarnings,\n      checks_performed: [\n        { name: '보장기간', passed: treatmentDate >= coverageStart && treatmentDate <= coverageEnd },\n        { name: '보험료납입', passed: policy.premium.status === 'paid' },\n        { name: '계약상태', passed: policy.contract_status === 'active' },\n        { name: '면책사항', passed: validationErrors.filter(e => e.includes('면책')).length === 0 }\n      ],\n      validated_at: new Date().toISOString()\n    },\n    processing_stage: 'policy_validated',\n    _timing: { ...data._timing, stage6_end: Date.now() }\n  }\n}];"
      },
      "id": "a016",
      "name": "6. 계약 유효성 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "policy-valid",
              "leftValue": "={{ $json.policy_validation.is_valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a017",
      "name": "7. 계약 유효?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": \"rejected\",\n  \"message\": \"계약 유효성 검증 실패\",\n  \"errors\": $json.policy_validation.errors,\n  \"warnings\": $json.policy_validation.warnings\n} }}",
        "options": { "responseCode": 400 }
      },
      "id": "a018",
      "name": "7-1. 계약 무효 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2720, 550]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 8단계: AI 담보 분석 (적용 가능 보장 항목 분석)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nconst ocr = data.ocr_result;\nconst policy = data.policy_info;\n\n// 담보 적용 분석\nconst coverageAnalysis = [];\n\nfor (const coverage of policy.coverages) {\n  const analysis = {\n    coverage_name: coverage.name,\n    coverage_type: coverage.type,\n    applicable: false,\n    reason: '',\n    potential_payout: 0,\n    calculation: ''\n  };\n  \n  // 질병입원의료비\n  if (coverage.name === '질병입원의료비' && ocr.treatment_type === '입원') {\n    analysis.applicable = true;\n    analysis.reason = `질병(${ocr.diagnosis_name})으로 인한 입원치료 - 실손보장 대상`;\n    const claimableAmount = ocr.patient_paid - coverage.deductible;\n    analysis.potential_payout = Math.round(Math.max(0, claimableAmount) * coverage.rate);\n    analysis.calculation = `(본인부담금 ${ocr.patient_paid.toLocaleString()}원 - 공제금 ${coverage.deductible.toLocaleString()}원) × ${coverage.rate * 100}%`;\n  }\n  \n  // 질병수술비\n  if (coverage.name === '질병수술비' && ocr.surgery_name) {\n    analysis.applicable = true;\n    analysis.reason = `수술(${ocr.surgery_name}) 시행 - 정액보장 대상`;\n    analysis.potential_payout = coverage.amount;\n    analysis.calculation = `1종 수술 정액 ${coverage.amount.toLocaleString()}원`;\n  }\n  \n  // 질병입원일당\n  if (coverage.name === '질병입원일당' && ocr.hospital_days > 0) {\n    analysis.applicable = true;\n    analysis.reason = `${ocr.hospital_days}일 입원 - 일당보장 대상`;\n    analysis.potential_payout = coverage.amount * ocr.hospital_days;\n    analysis.calculation = `일당 ${coverage.amount.toLocaleString()}원 × ${ocr.hospital_days}일`;\n  }\n  \n  if (analysis.applicable) {\n    coverageAnalysis.push(analysis);\n  }\n}\n\nconst totalPotentialPayout = coverageAnalysis.reduce((sum, c) => sum + c.potential_payout, 0);\n\nreturn [{\n  json: {\n    ...data,\n    coverage_analysis: {\n      analyzed_coverages: coverageAnalysis,\n      total_applicable_coverages: coverageAnalysis.length,\n      total_potential_payout: totalPotentialPayout,\n      analysis_model: 'rule_based + gpt-4o',\n      analysis_confidence: 0.95\n    },\n    processing_stage: 'coverage_analyzed',\n    _timing: { ...data._timing, stage8_end: Date.now() }\n  }\n}];"
      },
      "id": "a019",
      "name": "8. AI 담보 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 9단계: AI 자동 심사 및 보험금 산출\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nconst coverages = data.coverage_analysis.analyzed_coverages;\nconst ocr = data.ocr_result;\n\n// 각 담보별 심사 결과\nconst coverageDecisions = coverages.map(coverage => ({\n  coverage_name: coverage.coverage_name,\n  coverage_type: coverage.coverage_type,\n  status: 'approved',\n  claimed_amount: coverage.coverage_type === '실손' ? ocr.patient_paid : coverage.potential_payout,\n  approved_amount: coverage.potential_payout,\n  rejected_amount: 0,\n  rejection_reason: null,\n  calculation_detail: coverage.calculation\n}));\n\nconst totalApproved = coverageDecisions.reduce((sum, c) => sum + c.approved_amount, 0);\nconst totalClaimed = ocr.total_amount;\n\n// 심사 결과\nconst reviewResult = {\n  status: 'approved',\n  decision_summary: `${ocr.diagnosis_name} ${ocr.treatment_type} 및 ${ocr.surgery_name} - 총 ${totalApproved.toLocaleString()}원 지급 승인`,\n  review_type: 'auto_ai',\n  reviewer: 'AI Auto Review System v3',\n  reviewed_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...data,\n    review_result: {\n      decision: reviewResult,\n      coverage_decisions: coverageDecisions,\n      payout_summary: {\n        total_claimed: totalClaimed,\n        total_approved: totalApproved,\n        total_rejected: 0,\n        total_pending: 0,\n        payout_breakdown: coverageDecisions.map(c => ({\n          item: c.coverage_name,\n          amount: c.approved_amount,\n          calculation: c.calculation_detail\n        }))\n      },\n      confidence_score: 0.95,\n      risk_assessment: {\n        risk_level: 'low',\n        risk_flags: [],\n        fraud_score: 0.02\n      }\n    },\n    processing_stage: 'reviewed',\n    _timing: { ...data._timing, stage9_end: Date.now() }\n  }\n}];"
      },
      "id": "a020",
      "name": "9. AI 자동 심사",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 10단계: 심사 결과 저장 (Mock DB)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock DB Insert\nconst dbInsert = {\n  table: 'claim_review_results',\n  operation: 'INSERT',\n  inserted_id: Math.floor(Math.random() * 100000) + 1,\n  record: {\n    claim_case_id: data.claim_case_id,\n    policy_id: data.policy_id,\n    customer_name: data.customer.name,\n    diagnosis_name: data.ocr_result.diagnosis_name,\n    diagnosis_code: data.ocr_result.diagnosis_code,\n    treatment_type: data.ocr_result.treatment_type,\n    total_claimed_amount: data.review_result.payout_summary.total_claimed,\n    review_status: data.review_result.decision.status,\n    approved_amount: data.review_result.payout_summary.total_approved,\n    confidence_score: data.review_result.confidence_score,\n    ocr_model_used: 'ensemble',\n    created_at: new Date().toISOString()\n  },\n  execution_time_ms: 8\n};\n\nreturn [{\n  json: {\n    ...data,\n    db_save: dbInsert,\n    processing_stage: 'saved'\n  }\n}];"
      },
      "id": "a021",
      "name": "10. 심사 결과 저장",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3160, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 11단계: 최종 결과 정리 및 응답 생성\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\nconst processingTime = Date.now() - data._timing.start;\n\nconst finalResult = {\n  success: true,\n  \n  // 기본 정보\n  claim_case_id: data.claim_case_id,\n  policy_id: data.policy_id,\n  \n  // 고객 정보\n  customer: data.customer,\n  \n  // OCR 결과 요약\n  ocr_summary: {\n    patient_name: data.ocr_result.patient_name,\n    diagnosis: `${data.ocr_result.diagnosis_name} (${data.ocr_result.diagnosis_code})`,\n    treatment_type: data.ocr_result.treatment_type,\n    hospital: data.ocr_result.hospital_name,\n    treatment_period: `${data.ocr_result.admission_date} ~ ${data.ocr_result.discharge_date}`,\n    hospital_days: data.ocr_result.hospital_days,\n    surgery: data.ocr_result.surgery_name,\n    total_medical_cost: data.ocr_result.total_amount,\n    patient_paid: data.ocr_result.patient_paid\n  },\n  \n  // OCR 메타데이터\n  ocr_metadata: {\n    method: data.ocr_metadata.ensemble_method,\n    models_used: data.ocr_metadata.models_used,\n    confidence_score: data.ocr_metadata.confidence_score,\n    agreement_rate: data.ocr_metadata.agreement_rate\n  },\n  \n  // 심사 결과\n  review_result: {\n    status: data.review_result.decision.status,\n    decision: data.review_result.decision.decision_summary,\n    confidence_score: data.review_result.confidence_score,\n    risk_level: data.review_result.risk_assessment.risk_level\n  },\n  \n  // 보험금 내역\n  payout_details: {\n    total_claimed: data.review_result.payout_summary.total_claimed,\n    total_approved: data.review_result.payout_summary.total_approved,\n    total_rejected: data.review_result.payout_summary.total_rejected,\n    breakdown: data.review_result.payout_summary.payout_breakdown\n  },\n  \n  // 처리 메타데이터\n  processing_metadata: {\n    submitted_at: data.request_metadata?.submitted_at || data._timing.start,\n    processed_at: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    stages_completed: 11,\n    auto_approved: data.verification_decision.auto_approve,\n    verification_type: data.verification_status?.verification_type || 'automatic'\n  }\n};\n\nreturn [{ json: finalResult }];"
      },
      "id": "a022",
      "name": "11. 최종 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a023",
      "name": "12. 성공 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3600, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "insurance-claim/stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a024",
      "name": "API: 통계 조회",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 900],
      "webhookId": "claim-stats"
    },
    {
      "parameters": {
        "jsCode": "// 상세 통계 데이터 생성\nconst stats = {\n  success: true,\n  \n  ai_model_performance: [\n    {\n      model_name: 'gpt-4o',\n      task_type: 'ocr',\n      total_evaluations: 1523,\n      correct_count: 1447,\n      accuracy_pct: 95.01,\n      avg_confidence: 0.942,\n      avg_response_time_ms: 2340,\n      cost_per_request_usd: 0.0256\n    },\n    {\n      model_name: 'claude-3.5-sonnet',\n      task_type: 'ocr',\n      total_evaluations: 1523,\n      correct_count: 1478,\n      accuracy_pct: 97.04,\n      avg_confidence: 0.958,\n      avg_response_time_ms: 1890,\n      cost_per_request_usd: 0.0201\n    },\n    {\n      model_name: 'gemini-1.5-pro',\n      task_type: 'ocr',\n      total_evaluations: 1523,\n      correct_count: 1401,\n      accuracy_pct: 91.99,\n      avg_confidence: 0.921,\n      avg_response_time_ms: 2100,\n      cost_per_request_usd: 0.0089\n    }\n  ],\n  \n  claim_statistics: {\n    period: 'last_30_days',\n    total_claims: 1523,\n    by_status: {\n      approved: 1298,\n      rejected: 87,\n      pending_verification: 98,\n      processing: 40\n    },\n    approval_rate: '85.2%',\n    average_processing_time_ms: 3200,\n    average_payout_amount: 1450000,\n    total_payout_amount: 1881100000\n  },\n  \n  diagnosis_distribution: [\n    { diagnosis: '급성충수염', count: 245, percentage: '16.1%' },\n    { diagnosis: '골절', count: 198, percentage: '13.0%' },\n    { diagnosis: '위장염', count: 167, percentage: '11.0%' },\n    { diagnosis: '폐렴', count: 143, percentage: '9.4%' },\n    { diagnosis: '기타', count: 770, percentage: '50.5%' }\n  ],\n  \n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: stats }];"
      },
      "id": "a025",
      "name": "통계 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a026",
      "name": "통계 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 900]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "insurance-claim/health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a027",
      "name": "API: Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1100],
      "webhookId": "claim-health"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"healthy\",\n  \"service\": \"보험금 청구 자동 심사 시스템\",\n  \"version\": \"3.0.0\",\n  \"environment\": \"demo\",\n  \"features\": {\n    \"multi_model_ocr\": true,\n    \"ensemble_voting\": true,\n    \"ai_coverage_analysis\": true,\n    \"auto_review\": true,\n    \"fraud_detection\": true\n  },\n  \"models\": [\"gpt-4o\", \"claude-3.5-sonnet\", \"gemini-1.5-pro\"],\n  \"uptime_seconds\": Math.floor(Math.random() * 86400) + 3600,\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "a028",
      "name": "Health 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [470, 1100]
    }
  ],
  "connections": {
    "1. 청구서 제출 수신": {
      "main": [[{ "node": "2. 입력 데이터 전처리", "type": "main", "index": 0 }]]
    },
    "2. 입력 데이터 전처리": {
      "main": [[
        { "node": "3-1. 보험증권 조회", "type": "main", "index": 0 },
        { "node": "3-2. AI 모델 통계 조회", "type": "main", "index": 0 },
        { "node": "3-3a. OCR - GPT-4o", "type": "main", "index": 0 },
        { "node": "3-3b. OCR - Claude", "type": "main", "index": 0 },
        { "node": "3-3c. OCR - Gemini", "type": "main", "index": 0 }
      ]]
    },
    "3-1. 보험증권 조회": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-2. AI 모델 통계 조회": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3a. OCR - GPT-4o": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3b. OCR - Claude": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3c. OCR - Gemini": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-4. OCR 결과 병합": {
      "main": [[{ "node": "4. OCR 앙상블 통합", "type": "main", "index": 0 }]]
    },
    "4. OCR 앙상블 통합": {
      "main": [[
        { "node": "5-1. 중복청구 검사", "type": "main", "index": 0 },
        { "node": "5-2. 검증 대기열 저장", "type": "main", "index": 0 }
      ]]
    },
    "5-1. 중복청구 검사": {
      "main": [[{ "node": "5-3. 검증 필요 여부 판단", "type": "main", "index": 0 }]]
    },
    "5-2. 검증 대기열 저장": {
      "main": [[{ "node": "5-3. 검증 필요 여부 판단", "type": "main", "index": 0 }]]
    },
    "5-3. 검증 필요 여부 판단": {
      "main": [[{ "node": "5-4. 자동승인 가능?", "type": "main", "index": 0 }]]
    },
    "5-4. 자동승인 가능?": {
      "main": [
        [{ "node": "5-5b. 자동 승인", "type": "main", "index": 0 }],
        [{ "node": "5-5a. 검증 대기 응답", "type": "main", "index": 0 }]
      ]
    },
    "5-5b. 자동 승인": {
      "main": [[{ "node": "6. 계약 유효성 검증", "type": "main", "index": 0 }]]
    },
    "6. 계약 유효성 검증": {
      "main": [[{ "node": "7. 계약 유효?", "type": "main", "index": 0 }]]
    },
    "7. 계약 유효?": {
      "main": [
        [{ "node": "8. AI 담보 분석", "type": "main", "index": 0 }],
        [{ "node": "7-1. 계약 무효 응답", "type": "main", "index": 0 }]
      ]
    },
    "8. AI 담보 분석": {
      "main": [[{ "node": "9. AI 자동 심사", "type": "main", "index": 0 }]]
    },
    "9. AI 자동 심사": {
      "main": [[{ "node": "10. 심사 결과 저장", "type": "main", "index": 0 }]]
    },
    "10. 심사 결과 저장": {
      "main": [[{ "node": "11. 최종 결과 정리", "type": "main", "index": 0 }]]
    },
    "11. 최종 결과 정리": {
      "main": [[{ "node": "12. 성공 응답", "type": "main", "index": 0 }]]
    },
    "API: 통계 조회": {
      "main": [[{ "node": "통계 생성", "type": "main", "index": 0 }]]
    },
    "통계 생성": {
      "main": [[{ "node": "통계 응답", "type": "main", "index": 0 }]]
    },
    "API: Health Check": {
      "main": [[{ "node": "Health 응답", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "demo-v2",
  "id": "insurance-claim-demo-v2"
}
