n8n/workflows/insurance_claim_demo.json
{
  "name": "보험금 청구 자동 심사 시스템 (데모)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insurance-claim/submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "1. 청구서 제출 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "insurance-claim-submit"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 입력 데이터 전처리 및 유효성 검증\n// ═══════════════════════════════════════════════════════════════\nconst input = $input.first().json.body || $input.first().json;\nconst startTime = Date.now();\n\n// 청구 ID 생성\nconst claimCaseId = input.claim_case_id || `CLM-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\nreturn [{\n  json: {\n    claim_case_id: claimCaseId,\n    policy_id: input.policy_id || 'POL-2024-001',\n    customer: {\n      name: input.customer_name || '홍길동',\n      birth: input.customer_birth || '1985-03-15',\n      phone: input.customer_phone || '010-1234-5678'\n    },\n    has_images: !!(input.diagnosis_base64 && input.receipt_base64),\n    submitted_at: new Date().toISOString(),\n    _timing: { start: startTime }\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "2. 입력 데이터 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Mock: 보험증권 조회 (DB 대신 하드코딩)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock 보험증권 데이터\nconst mockPolicies = {\n  'POL-2024-001': {\n    policy_id: 'POL-2024-001',\n    policy_type: '실손의료보험',\n    policyholder_name: '홍길동',\n    coverage_start_date: '2024-01-01',\n    coverage_end_date: '2025-12-31',\n    premium_status: 'paid',\n    coverages: ['질병입원의료비', '질병통원의료비', '수술비']\n  },\n  'POL-2024-002': {\n    policy_id: 'POL-2024-002',\n    policy_type: '암보험',\n    policyholder_name: '김철수',\n    coverage_start_date: '2024-03-01',\n    coverage_end_date: '2044-02-28',\n    premium_status: 'paid',\n    coverages: ['암진단비', '암수술비', '암입원일당']\n  }\n};\n\nconst policy = mockPolicies[data.policy_id] || mockPolicies['POL-2024-001'];\n\nreturn [{\n  json: {\n    ...data,\n    policy_info: policy,\n    policy_found: true\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "3. 보험증권 조회",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Mock: 멀티모델 OCR 결과 (GPT-4o, Claude, Gemini 앙상블)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock OCR 결과 - 3개 AI 모델이 분석한 것처럼 시뮬레이션\nconst ocrResults = {\n  gpt4o: {\n    patient_name: '홍길동',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성충수염',\n    hospital_name: '서울대학교병원',\n    treatment_type: '입원',\n    hospital_days: 4,\n    surgery_name: '복강경 충수절제술',\n    surgery_date: '2024-12-10',\n    total_amount: 1520000,\n    patient_paid: 152000,\n    confidence: 0.94\n  },\n  claude: {\n    patient_name: '홍길동',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성 충수염',\n    hospital_name: '서울대학교병원',\n    treatment_type: '입원',\n    hospital_days: 4,\n    surgery_name: '복강경 충수절제술',\n    surgery_date: '2024-12-10',\n    total_amount: 1520000,\n    patient_paid: 152000,\n    confidence: 0.96\n  },\n  gemini: {\n    patient_name: '홍길동',\n    diagnosis_date: '2024-12-10',\n    diagnosis_code: 'K35.0',\n    diagnosis_name: '급성충수염',\n    hospital_name: '서울대학교병원',\n    treatment_type: '입원',\n    hospital_days: 4,\n    surgery_name: '복강경충수절제술',\n    surgery_date: '2024-12-10',\n    total_amount: 1520000,\n    patient_paid: 152000,\n    confidence: 0.92\n  }\n};\n\n// 앙상블 결과 (가중 투표)\nconst ensembleResult = {\n  patient_name: '홍길동',\n  diagnosis_date: '2024-12-10',\n  diagnosis_code: 'K35.0',\n  diagnosis_name: '급성충수염',\n  hospital_name: '서울대학교병원',\n  treatment_type: '입원',\n  hospital_days: 4,\n  surgery_name: '복강경 충수절제술',\n  surgery_date: '2024-12-10',\n  total_amount: 1520000,\n  patient_paid: 152000\n};\n\nreturn [{\n  json: {\n    ...data,\n    ocr_result: ensembleResult,\n    ocr_metadata: {\n      method: 'ensemble',\n      models_used: ['gpt-4o', 'claude-3.5-sonnet', 'gemini-1.5-pro'],\n      individual_results: ocrResults,\n      confidence: 'high',\n      confidence_score: 0.94,\n      agreement_rate: 0.98\n    },\n    processing_stage: 'ocr_completed'\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "4. 멀티모델 OCR (앙상블)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 중복 청구 검사 및 검증 필요 여부 판단\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// Mock: 중복 청구 없음\nconst duplicateCheck = {\n  is_duplicate: false,\n  similar_claims: []\n};\n\n// 자동 승인 조건 체크\nconst autoApproveConditions = {\n  high_confidence: data.ocr_metadata.confidence === 'high',\n  confidence_threshold: data.ocr_metadata.confidence_score >= 0.85,\n  multi_model_agreement: data.ocr_metadata.agreement_rate >= 0.9,\n  no_duplicate: !duplicateCheck.is_duplicate\n};\n\nconst passedConditions = Object.values(autoApproveConditions).filter(Boolean).length;\nconst canAutoApprove = passedConditions >= 3;\n\nreturn [{\n  json: {\n    ...data,\n    duplicate_check: duplicateCheck,\n    auto_approve_check: autoApproveConditions,\n    can_auto_approve: canAutoApprove,\n    auto_approve_reason: canAutoApprove \n      ? `신뢰도 ${(data.ocr_metadata.confidence_score * 100).toFixed(1)}%, 모델 일치율 ${(data.ocr_metadata.agreement_rate * 100).toFixed(0)}%, 중복 없음`\n      : null\n  }\n}];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "5. 중복검사 & 검증판단",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 계약 유효성 검증\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nconst validationErrors = [];\nconst warnings = [];\n\n// 1. 보장 기간 검증\nconst diagnosisDate = new Date(data.ocr_result.diagnosis_date);\nconst coverageStart = new Date(data.policy_info.coverage_start_date);\nconst coverageEnd = new Date(data.policy_info.coverage_end_date);\n\nif (diagnosisDate < coverageStart) {\n  validationErrors.push('진료일이 보장 시작일 이전입니다.');\n}\nif (diagnosisDate > coverageEnd) {\n  validationErrors.push('진료일이 보장 종료일 이후입니다.');\n}\n\n// 2. 보험료 납입 상태\nif (data.policy_info.premium_status !== 'paid') {\n  warnings.push(`보험료 납입 상태: ${data.policy_info.premium_status}`);\n}\n\n// 3. 계약자/환자 이름 확인\nif (data.policy_info.policyholder_name !== data.ocr_result.patient_name) {\n  warnings.push('환자명과 계약자명이 다릅니다. (가족 청구 가능)');\n}\n\nreturn [{\n  json: {\n    ...data,\n    policy_validation: {\n      is_valid: validationErrors.length === 0,\n      errors: validationErrors,\n      warnings: warnings\n    },\n    processing_stage: 'policy_validated'\n  }\n}];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "6. 계약 유효성 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "policy-valid",
              "leftValue": "={{ $json.policy_validation.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "7. 계약 유효?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// AI 담보 분석 (Mock)\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\n// 적용 가능한 담보 분석\nconst applicableCoverages = [\n  {\n    coverage_name: '질병입원의료비',\n    coverage_type: '실손',\n    benefit_rate: '90%',\n    deductible: 100000,\n    applicable: true,\n    reason: '급성충수염으로 인한 입원치료 - 실손 보장 대상'\n  },\n  {\n    coverage_name: '질병수술비',\n    coverage_type: '정액',\n    benefit_amount: 1000000,\n    applicable: true,\n    reason: '복강경 충수절제술 - 1종 수술 해당'\n  },\n  {\n    coverage_name: '질병입원일당',\n    coverage_type: '정액',\n    benefit_amount: 50000,\n    per_day: true,\n    applicable: true,\n    reason: '4일 입원 - 일당 지급 대상'\n  }\n];\n\nreturn [{\n  json: {\n    ...data,\n    coverage_analysis: {\n      applicable_coverages: applicableCoverages,\n      total_coverages_found: applicableCoverages.length,\n      analysis_model: 'gpt-4o'\n    },\n    processing_stage: 'coverage_analyzed'\n  }\n}];"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "8. AI 담보 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// AI 자동 심사 및 보험금 산출\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\n\nconst totalAmount = data.ocr_result.total_amount;\nconst patientPaid = data.ocr_result.patient_paid;\nconst hospitalDays = data.ocr_result.hospital_days;\n\n// 보험금 산출\nconst calculations = [];\n\n// 1. 질병입원의료비 (실손 90%)\nconst actualMedicalCost = totalAmount - patientPaid; // 공단부담금 제외\nconst reimbursementBase = patientPaid; // 본인부담금 기준\nconst deductible = 100000; // 자기부담금\nconst reimbursementAmount = Math.max(0, Math.round((reimbursementBase - deductible) * 0.9));\ncalculations.push({\n  coverage_name: '질병입원의료비',\n  claimed: reimbursementBase,\n  deductible: deductible,\n  rate: '90%',\n  approved: reimbursementAmount,\n  calculation: `(${reimbursementBase.toLocaleString()} - ${deductible.toLocaleString()}) × 90% = ${reimbursementAmount.toLocaleString()}원`\n});\n\n// 2. 질병수술비 (정액)\nconst surgeryBenefit = 1000000;\ncalculations.push({\n  coverage_name: '질병수술비',\n  claimed: surgeryBenefit,\n  approved: surgeryBenefit,\n  calculation: '1종 수술 정액 = 1,000,000원'\n});\n\n// 3. 질병입원일당 (정액)\nconst dailyBenefit = 50000 * hospitalDays;\ncalculations.push({\n  coverage_name: '질병입원일당',\n  claimed: dailyBenefit,\n  approved: dailyBenefit,\n  calculation: `50,000원 × ${hospitalDays}일 = ${dailyBenefit.toLocaleString()}원`\n});\n\nconst totalApproved = calculations.reduce((sum, c) => sum + c.approved, 0);\nconst totalClaimed = data.ocr_result.total_amount;\n\nreturn [{\n  json: {\n    ...data,\n    review_result: {\n      status: 'approved',\n      decision_summary: '급성충수염 입원 및 수술 - 실손의료비 + 수술비 + 입원일당 지급 승인',\n      calculations: calculations,\n      total_payout: {\n        total_claimed: totalClaimed,\n        total_approved: totalApproved,\n        total_rejected: 0,\n        breakdown: {\n          reimbursement: reimbursementAmount,\n          surgery: surgeryBenefit,\n          daily: dailyBenefit\n        }\n      },\n      confidence_score: 0.95,\n      risk_flags: [],\n      review_notes: '자동 심사 완료 - 고신뢰도 OCR 결과 기반'\n    },\n    processing_stage: 'reviewed'\n  }\n}];"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "9. AI 자동 심사",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 최종 결과 정리 및 포맷팅\n// ═══════════════════════════════════════════════════════════════\nconst data = $input.first().json;\nconst processingTime = Date.now() - data._timing.start;\n\nconst finalResult = {\n  success: true,\n  claim_case_id: data.claim_case_id,\n  policy_id: data.policy_id,\n  \n  // 고객 정보\n  customer: data.customer,\n  \n  // OCR 결과 요약\n  ocr_summary: {\n    patient_name: data.ocr_result.patient_name,\n    diagnosis: `${data.ocr_result.diagnosis_name} (${data.ocr_result.diagnosis_code})`,\n    treatment: data.ocr_result.treatment_type,\n    hospital: data.ocr_result.hospital_name,\n    surgery: data.ocr_result.surgery_name,\n    hospital_days: data.ocr_result.hospital_days,\n    ocr_confidence: data.ocr_metadata.confidence_score,\n    ocr_method: data.ocr_metadata.method,\n    models_used: data.ocr_metadata.models_used\n  },\n  \n  // 심사 결과\n  review_result: {\n    status: data.review_result.status,\n    decision: data.review_result.decision_summary,\n    confidence_score: data.review_result.confidence_score\n  },\n  \n  // 보험금 내역\n  payout_details: {\n    total_claimed: data.review_result.total_payout.total_claimed,\n    total_approved: data.review_result.total_payout.total_approved,\n    breakdown: data.review_result.calculations.map(c => ({\n      item: c.coverage_name,\n      amount: c.approved,\n      calculation: c.calculation\n    }))\n  },\n  \n  // 처리 메타데이터\n  metadata: {\n    submitted_at: data.submitted_at,\n    processed_at: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    auto_approved: data.can_auto_approve,\n    auto_approve_reason: data.auto_approve_reason\n  }\n};\n\nreturn [{ json: finalResult }];"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "10. 최종 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "11. 성공 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": \"rejected\",\n  \"message\": \"보험 계약 유효성 검증 실패\",\n  \"errors\": $json.policy_validation.errors,\n  \"warnings\": $json.policy_validation.warnings\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "12. 거부 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "insurance-claim/stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "API: 통계 조회",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 550],
      "webhookId": "insurance-claim-stats"
    },
    {
      "parameters": {
        "jsCode": "// Mock 통계 데이터\nconst stats = {\n  success: true,\n  statistics: {\n    model_performance: [\n      { model_name: 'gpt-4o', task_type: 'ocr', accuracy_pct: 94.5, avg_response_time_ms: 2340, total_evaluations: 1250 },\n      { model_name: 'claude-3.5-sonnet', task_type: 'ocr', accuracy_pct: 96.2, avg_response_time_ms: 1890, total_evaluations: 1250 },\n      { model_name: 'gemini-1.5-pro', task_type: 'ocr', accuracy_pct: 92.8, avg_response_time_ms: 2100, total_evaluations: 1250 }\n    ],\n    claim_summary: {\n      total_claims: 1250,\n      approved: 1087,\n      rejected: 98,\n      pending: 65,\n      approval_rate: '87.0%',\n      avg_processing_time_ms: 3200\n    },\n    recent_claims: [\n      { claim_id: 'CLM-001', status: 'approved', amount: 2246800, processed_at: '2024-12-17T10:30:00Z' },\n      { claim_id: 'CLM-002', status: 'approved', amount: 1520000, processed_at: '2024-12-17T10:25:00Z' },\n      { claim_id: 'CLM-003', status: 'pending', amount: 3200000, processed_at: '2024-12-17T10:20:00Z' }\n    ]\n  },\n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: stats }];"
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "통계 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "통계 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 550]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "insurance-claim/health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "API: Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700],
      "webhookId": "insurance-claim-health"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"healthy\",\n  \"service\": \"보험금 청구 자동 심사 시스템 v3\",\n  \"version\": \"3.0.0\",\n  \"features\": [\n    \"멀티모델 OCR 앙상블 (GPT-4o, Claude, Gemini)\",\n    \"AI 기반 담보 분석\",\n    \"자동 심사 및 보험금 산출\",\n    \"중복 청구 탐지\"\n  ],\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Health 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [470, 700]
    }
  ],
  "connections": {
    "1. 청구서 제출 수신": {
      "main": [[{ "node": "2. 입력 데이터 검증", "type": "main", "index": 0 }]]
    },
    "2. 입력 데이터 검증": {
      "main": [[{ "node": "3. 보험증권 조회", "type": "main", "index": 0 }]]
    },
    "3. 보험증권 조회": {
      "main": [[{ "node": "4. 멀티모델 OCR (앙상블)", "type": "main", "index": 0 }]]
    },
    "4. 멀티모델 OCR (앙상블)": {
      "main": [[{ "node": "5. 중복검사 & 검증판단", "type": "main", "index": 0 }]]
    },
    "5. 중복검사 & 검증판단": {
      "main": [[{ "node": "6. 계약 유효성 검증", "type": "main", "index": 0 }]]
    },
    "6. 계약 유효성 검증": {
      "main": [[{ "node": "7. 계약 유효?", "type": "main", "index": 0 }]]
    },
    "7. 계약 유효?": {
      "main": [
        [{ "node": "8. AI 담보 분석", "type": "main", "index": 0 }],
        [{ "node": "12. 거부 응답", "type": "main", "index": 0 }]
      ]
    },
    "8. AI 담보 분석": {
      "main": [[{ "node": "9. AI 자동 심사", "type": "main", "index": 0 }]]
    },
    "9. AI 자동 심사": {
      "main": [[{ "node": "10. 최종 결과 정리", "type": "main", "index": 0 }]]
    },
    "10. 최종 결과 정리": {
      "main": [[{ "node": "11. 성공 응답", "type": "main", "index": 0 }]]
    },
    "API: 통계 조회": {
      "main": [[{ "node": "통계 생성", "type": "main", "index": 0 }]]
    },
    "통계 생성": {
      "main": [[{ "node": "통계 응답", "type": "main", "index": 0 }]]
    },
    "API: Health Check": {
      "main": [[{ "node": "Health 응답", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "demo-v1",
  "meta": {
    "instanceId": "insurance-demo"
  },
  "id": "insurance-claim-demo"
}
