n8n/workflows/insurance_claim_v3_complete.json
{
  "name": "보험금 청구 자동 심사 시스템 v3 (완성판)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insurance-claim/submit",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-submit",
      "name": "1. 청구서 제출 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [420, 1200],
      "webhookId": "insurance-claim-submit"
    },
    {
      "parameters": {
        "jsCode": "// 입력 데이터 전처리 및 유효성 검증\nconst input = $input.first().json.body || $input.first().json;\nconst startTime = Date.now();\n\n// 필수 필드 검증\nconst requiredFields = ['claim_case_id', 'policy_id', 'diagnosis_base64', 'receipt_base64'];\nconst missingFields = requiredFields.filter(field => !input[field]);\n\nif (missingFields.length > 0) {\n  throw new Error(`필수 필드 누락: ${missingFields.join(', ')}`);\n}\n\n// Base64 유효성 검증\nconst isValidBase64 = (str) => {\n  if (!str || typeof str !== 'string') return false;\n  return str.length > 100 && /^[A-Za-z0-9+/=]+$/.test(str.replace(/\\s/g, ''));\n};\n\nif (!isValidBase64(input.diagnosis_base64)) {\n  throw new Error('진단서 Base64 형식이 올바르지 않습니다.');\n}\nif (!isValidBase64(input.receipt_base64)) {\n  throw new Error('영수증 Base64 형식이 올바르지 않습니다.');\n}\n\nconst claimCaseId = input.claim_case_id || `CLM-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n\nreturn [{\n  json: {\n    claim_case_id: claimCaseId,\n    policy_id: input.policy_id,\n    customer: {\n      name: input.customer_name || '',\n      birth: input.customer_birth || '',\n      phone: input.customer_phone || '',\n      email: input.customer_email || ''\n    },\n    diagnosis: {\n      base64: input.diagnosis_base64,\n      mime: input.diagnosis_mime || 'image/jpeg'\n    },\n    receipt: {\n      base64: input.receipt_base64,\n      mime: input.receipt_mime || 'image/jpeg'\n    },\n    callback_url: input.callback_url || '',\n    submitted_at: new Date().toISOString(),\n    processing_started_at: new Date().toISOString(),\n    _timing: { start: startTime }\n  }\n}];"
      },
      "id": "preprocess",
      "name": "2. 파일 전처리 및 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 1200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT policy_id, policy_pdf_url, policy_type, coverage_start_date, coverage_end_date, policyholder_name, premium_status, policy_terms_text FROM insurance_policies WHERE policy_id = $1",
        "options": {
          "queryReplacement": "={{ $json.policy_id }}"
        }
      },
      "id": "query-policy",
      "name": "3-1. 보험증권 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 1000],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT model_name, COUNT(*) AS total_count, SUM(CASE WHEN is_correct = true THEN 1 ELSE 0 END) AS correct_count, ROUND(AVG(CASE WHEN is_correct IS NOT NULL THEN CASE WHEN is_correct THEN 1.0 ELSE 0.0 END END) * 100, 2) AS accuracy_pct FROM ai_model_feedback WHERE created_at > NOW() - INTERVAL '30 days' GROUP BY model_name ORDER BY accuracy_pct DESC NULLS LAST;",
        "options": {}
      },
      "id": "query-ai-stats",
      "name": "3-2. AI 모델 통계 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 1200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"당신은 의료 문서 OCR 전문가입니다. 진단서와 영수증 이미지에서 정보를 추출하여 반드시 JSON 형식으로만 응답하세요.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        { \"type\": \"text\", \"text\": \"다음 이미지에서 정보를 추출해주세요.\" },\n        { \"type\": \"image_url\", \"image_url\": { \"url\": \"data:{{ $json.diagnosis.mime }};base64,{{ $json.diagnosis.base64 }}\" } },\n        { \"type\": \"image_url\", \"image_url\": { \"url\": \"data:{{ $json.receipt.mime }};base64,{{ $json.receipt.base64 }}\" } }\n      ]\n    }\n  ],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": { "timeout": 90000 }
      },
      "id": "ocr-gpt",
      "name": "3-3a. OCR - GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 1400],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        { \"type\": \"text\", \"text\": \"의료 문서에서 정보를 추출해주세요. JSON 형식으로만 응답하세요.\" },\n        { \"type\": \"image\", \"source\": { \"type\": \"base64\", \"media_type\": \"{{ $json.diagnosis.mime }}\", \"data\": \"{{ $json.diagnosis.base64 }}\" } },\n        { \"type\": \"image\", \"source\": { \"type\": \"base64\", \"media_type\": \"{{ $json.receipt.mime }}\", \"data\": \"{{ $json.receipt.base64 }}\" } }\n      ]\n    }\n  ]\n}",
        "options": { "timeout": 90000 }
      },
      "id": "ocr-claude",
      "name": "3-3b. OCR - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 1600],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-1.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"의료 문서에서 정보를 추출해주세요. JSON 형식으로만 응답하세요.\" },\n        { \"inline_data\": { \"mime_type\": \"{{ $json.diagnosis.mime }}\", \"data\": \"{{ $json.diagnosis.base64 }}\" } },\n        { \"inline_data\": { \"mime_type\": \"{{ $json.receipt.mime }}\", \"data\": \"{{ $json.receipt.base64 }}\" } }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"maxOutputTokens\": 4096,\n    \"temperature\": 0.1\n  }\n}",
        "options": { "timeout": 90000 }
      },
      "id": "ocr-gemini",
      "name": "3-3c. OCR - Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 1800],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpQueryAuth": {
          "id": "GEMINI_CREDENTIAL_ID",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-ocr",
      "name": "3-4. OCR 결과 병합",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [1160, 1200]
    },
    {
      "parameters": {
        "jsCode": "// OCR 결과 통합 (앙상블 + 가중 투표)\nconst items = $input.all();\n\nconst originalData = items.find(item => item.json.claim_case_id)?.json || {};\nconst aiStats = items.filter(item => item.json.model_name).map(item => item.json);\nconst policyInfo = items.find(item => item.json.policy_pdf_url || item.json.policy_terms_text)?.json || {};\n\nconst parseOCRResult = (item, modelName) => {\n  try {\n    let content;\n    if (modelName === 'gpt') {\n      content = item?.choices?.[0]?.message?.content;\n    } else if (modelName === 'claude') {\n      content = item?.content?.[0]?.text;\n    } else if (modelName === 'gemini') {\n      content = item?.candidates?.[0]?.content?.parts?.[0]?.text;\n    }\n    if (!content) return { result: null, responseTime: 0 };\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      return { result: JSON.parse(jsonMatch[0]), responseTime: 1000 };\n    }\n    return { result: null, responseTime: 0 };\n  } catch (e) {\n    return { result: null, responseTime: 0 };\n  }\n};\n\nconst ocrResults = { gpt: { result: null }, claude: { result: null }, gemini: { result: null } };\n\nfor (const item of items) {\n  if (item.json.choices) ocrResults.gpt = parseOCRResult(item.json, 'gpt');\n  else if (item.json.content && Array.isArray(item.json.content)) ocrResults.claude = parseOCRResult(item.json, 'claude');\n  else if (item.json.candidates) ocrResults.gemini = parseOCRResult(item.json, 'gemini');\n}\n\nconst validResults = Object.entries(ocrResults).filter(([_, v]) => v.result !== null);\n\nif (validResults.length === 0) {\n  throw new Error('모든 OCR 모델이 실패했습니다.');\n}\n\nconst bestResult = validResults[0];\n\nreturn [{\n  json: {\n    claim_case_id: originalData.claim_case_id,\n    policy_id: originalData.policy_id,\n    customer: originalData.customer,\n    callback_url: originalData.callback_url,\n    policy_info: policyInfo,\n    ocr_result: bestResult[1].result,\n    ocr_metadata: {\n      selected_model: bestResult[0],\n      confidence: 'medium',\n      confidence_score: 0.8,\n      individual_results: Object.fromEntries(validResults.map(([k, v]) => [k, v.result]))\n    },\n    diagnosis: originalData.diagnosis,\n    receipt: originalData.receipt,\n    processing_stage: 'ocr_completed',\n    status: 'pending_verification',\n    ocr_completed_at: new Date().toISOString(),\n    _timing: originalData._timing\n  }\n}];"
      },
      "id": "ocr-integrate",
      "name": "4. OCR 결과 통합 (앙상블)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 1200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as duplicate_count FROM claim_review_results WHERE policy_id = $1 AND diagnosis_code = $2 AND review_status IN ('approved', 'pending') AND created_at > NOW() - INTERVAL '90 days'",
        "options": {
          "queryReplacement": "={{ $json.policy_id }},={{ $json.ocr_result?.diagnosis_code || 'NONE' }}"
        }
      },
      "id": "check-duplicate",
      "name": "5-1. 중복청구 검사",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1640, 1000],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "claim_verification_queue" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "claim_case_id": "={{ $json.claim_case_id }}",
            "policy_id": "={{ $json.policy_id }}",
            "customer_name": "={{ $json.customer?.name }}",
            "ocr_result": "={{ JSON.stringify($json.ocr_result) }}",
            "ocr_metadata": "={{ JSON.stringify($json.ocr_metadata) }}",
            "status": "pending",
            "confidence_score": "={{ $json.ocr_metadata?.confidence_score }}",
            "created_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "save-queue",
      "name": "5-2. 검증 대기열 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1640, 1200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 검증 필요 여부 판단\nconst data = $input.first().json;\n\nconst autoApproveConditions = [\n  data.ocr_metadata?.confidence === 'high',\n  data.ocr_metadata?.confidence_score >= 0.85,\n  Object.keys(data.ocr_metadata?.individual_results || {}).length >= 2\n];\n\nconst passedConditions = autoApproveConditions.filter(Boolean).length;\nconst needsVerification = passedConditions < 2;\n\nconst duplicateCheck = $('5-1. 중복청구 검사').first()?.json;\nconst hasDuplicate = duplicateCheck?.duplicate_count > 0;\n\nreturn [{\n  json: {\n    ...data,\n    needs_verification: needsVerification || hasDuplicate,\n    auto_approve_reason: !needsVerification && !hasDuplicate ? `신뢰도 ${(data.ocr_metadata?.confidence_score * 100).toFixed(1)}%, 중복 없음` : null,\n    verification_reason: needsVerification ? `신뢰도 부족` : hasDuplicate ? '중복 청구 의심' : null,\n    duplicate_warning: hasDuplicate\n  }\n}];"
      },
      "id": "check-verification",
      "name": "5-3. 검증 필요 여부 판단",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 1200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "needs-verify",
              "leftValue": "={{ $json.needs_verification }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-needs-verify",
      "name": "5-4. 검증 필요?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2120, 1200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": \"pending_verification\",\n  \"message\": \"OCR 결과 검증이 필요합니다.\",\n  \"ocr_result\": $json.ocr_result,\n  \"verification_reason\": $json.verification_reason\n} }}",
        "options": { "responseCode": 202 }
      },
      "id": "respond-pending",
      "name": "5-5a. 검증 대기 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2360, 1100]
    },
    {
      "parameters": {
        "jsCode": "// 자동 승인 처리\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    ocr_metadata: {\n      ...data.ocr_metadata,\n      verified: true,\n      verified_by: 'auto',\n      verified_at: new Date().toISOString(),\n      auto_approved: true\n    },\n    processing_stage: 'verified',\n    status: 'processing'\n  }\n}];"
      },
      "id": "auto-approve",
      "name": "5-5b. 자동 승인 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 1300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT policy_id, policy_type, coverage_start_date, coverage_end_date, policyholder_name, premium_status, policy_terms_text FROM insurance_policies WHERE policy_id = $1",
        "options": {
          "queryReplacement": "={{ $json.policy_id }}"
        }
      },
      "id": "query-policy-2",
      "name": "6. 보험증권 상세 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2600, 1300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 보험 계약 유효성 검증\nconst data = $input.first().json;\nconst policy = data[0] || data;\nconst prevData = $('5-5b. 자동 승인 처리').first().json;\n\nconst validationErrors = [];\nconst warnings = [];\n\nif (!policy.policy_id) {\n  validationErrors.push('보험 계약을 찾을 수 없습니다.');\n}\n\nconst isValid = validationErrors.length === 0;\n\nreturn [{\n  json: {\n    ...prevData,\n    policy_info: policy,\n    policy_validation: {\n      is_valid: isValid,\n      errors: validationErrors,\n      warnings: warnings\n    },\n    processing_stage: 'policy_validated'\n  }\n}];"
      },
      "id": "validate-policy",
      "name": "7. 계약 유효성 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 1300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "policy-valid",
              "leftValue": "={{ $json.policy_validation?.is_valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-policy-valid",
      "name": "8. 계약 유효?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3080, 1300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": \"policy_invalid\",\n  \"errors\": $json.policy_validation?.errors\n} }}",
        "options": { "responseCode": 400 }
      },
      "id": "respond-invalid",
      "name": "8-1. 계약 무효 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 1500]
    },
    {
      "parameters": {
        "jsCode": "// Mock 심사 결과 생성 (AI API 없이 테스트용)\nconst data = $input.first().json;\n\nconst totalAmount = data.ocr_result?.total_amount || 1500000;\nconst approvedAmount = Math.round(totalAmount * 0.9) + 1000000;\n\nconst reviewResult = {\n  review_result: {\n    status: 'approved',\n    decision_summary: '질병입원의료비 90% + 수술비 정액 지급 승인'\n  },\n  total_payout: {\n    approved_amount: approvedAmount,\n    pending_amount: 0,\n    rejected_amount: Math.round(totalAmount * 0.1)\n  },\n  confidence_score: 0.95\n};\n\nreturn [{\n  json: {\n    claim_case_id: data.claim_case_id,\n    policy_id: data.policy_id,\n    customer: data.customer,\n    ocr_result: data.ocr_result,\n    ocr_verified: data.ocr_metadata?.verified || false,\n    review_result: reviewResult,\n    final_summary: {\n      status: reviewResult.review_result.status,\n      decision: reviewResult.review_result.decision_summary,\n      total_claimed: totalAmount,\n      total_approved: approvedAmount,\n      total_rejected: Math.round(totalAmount * 0.1),\n      confidence_score: reviewResult.confidence_score\n    },\n    processing_metadata: {\n      ocr_model: data.ocr_metadata?.selected_model,\n      processing_completed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "mock-review",
      "name": "9. Mock 심사 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 1200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "claim_review_results" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "claim_case_id": "={{ $json.claim_case_id }}",
            "policy_id": "={{ $json.policy_id }}",
            "customer_name": "={{ $json.customer?.name }}",
            "diagnosis_name": "={{ $json.ocr_result?.diagnosis_name }}",
            "diagnosis_code": "={{ $json.ocr_result?.diagnosis_code }}",
            "treatment_type": "={{ $json.ocr_result?.treatment_type }}",
            "total_claimed_amount": "={{ $json.final_summary?.total_claimed }}",
            "review_status": "={{ $json.final_summary?.status }}",
            "approved_amount": "={{ $json.final_summary?.total_approved }}",
            "rejected_amount": "={{ $json.final_summary?.total_rejected }}",
            "confidence_score": "={{ $json.final_summary?.confidence_score }}",
            "ocr_model_used": "={{ $json.processing_metadata?.ocr_model }}",
            "review_details": "={{ JSON.stringify($json.review_result) }}",
            "created_at": "={{ $json.processing_metadata?.processing_completed_at }}"
          }
        },
        "options": {}
      },
      "id": "save-result",
      "name": "10. 심사 결과 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3560, 1200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"claim_case_id\": $json.claim_case_id,\n  \"status\": $json.final_summary?.status,\n  \"total_claimed\": $json.final_summary?.total_claimed,\n  \"total_approved\": $json.final_summary?.total_approved,\n  \"total_rejected\": $json.final_summary?.total_rejected,\n  \"confidence_score\": $json.final_summary?.confidence_score,\n  \"decision\": $json.final_summary?.decision,\n  \"processed_at\": $json.processing_metadata?.processing_completed_at\n} }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "11. 성공 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3800, 1200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "insurance-claim/stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stats",
      "name": "API: 통계 조회",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [420, 1600],
      "webhookId": "insurance-claim-stats"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT model_name, task_type, COUNT(*) AS total_evaluations, SUM(CASE WHEN is_correct = true THEN 1 ELSE 0 END) AS correct_count, ROUND(AVG(CASE WHEN is_correct IS NOT NULL THEN CASE WHEN is_correct THEN 1.0 ELSE 0.0 END END) * 100, 2) AS accuracy_pct FROM ai_model_feedback GROUP BY model_name, task_type ORDER BY accuracy_pct DESC NULLS LAST;",
        "options": {}
      },
      "id": "query-stats",
      "name": "통계 쿼리",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 1600],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL insurtech"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"statistics\": $json,\n  \"generated_at\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "respond-stats",
      "name": "통계 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 1600]
    }
  ],
  "connections": {
    "1. 청구서 제출 수신": {
      "main": [[{ "node": "2. 파일 전처리 및 검증", "type": "main", "index": 0 }]]
    },
    "2. 파일 전처리 및 검증": {
      "main": [[
        { "node": "3-1. 보험증권 조회", "type": "main", "index": 0 },
        { "node": "3-2. AI 모델 통계 조회", "type": "main", "index": 0 },
        { "node": "3-3a. OCR - GPT-4o", "type": "main", "index": 0 },
        { "node": "3-3b. OCR - Claude", "type": "main", "index": 0 },
        { "node": "3-3c. OCR - Gemini", "type": "main", "index": 0 }
      ]]
    },
    "3-1. 보험증권 조회": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-2. AI 모델 통계 조회": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3a. OCR - GPT-4o": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3b. OCR - Claude": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-3c. OCR - Gemini": {
      "main": [[{ "node": "3-4. OCR 결과 병합", "type": "main", "index": 0 }]]
    },
    "3-4. OCR 결과 병합": {
      "main": [[{ "node": "4. OCR 결과 통합 (앙상블)", "type": "main", "index": 0 }]]
    },
    "4. OCR 결과 통합 (앙상블)": {
      "main": [[
        { "node": "5-1. 중복청구 검사", "type": "main", "index": 0 },
        { "node": "5-2. 검증 대기열 저장", "type": "main", "index": 0 }
      ]]
    },
    "5-1. 중복청구 검사": {
      "main": [[{ "node": "5-3. 검증 필요 여부 판단", "type": "main", "index": 0 }]]
    },
    "5-2. 검증 대기열 저장": {
      "main": [[{ "node": "5-3. 검증 필요 여부 판단", "type": "main", "index": 0 }]]
    },
    "5-3. 검증 필요 여부 판단": {
      "main": [[{ "node": "5-4. 검증 필요?", "type": "main", "index": 0 }]]
    },
    "5-4. 검증 필요?": {
      "main": [
        [{ "node": "5-5a. 검증 대기 응답", "type": "main", "index": 0 }],
        [{ "node": "5-5b. 자동 승인 처리", "type": "main", "index": 0 }]
      ]
    },
    "5-5b. 자동 승인 처리": {
      "main": [[{ "node": "6. 보험증권 상세 조회", "type": "main", "index": 0 }]]
    },
    "6. 보험증권 상세 조회": {
      "main": [[{ "node": "7. 계약 유효성 검증", "type": "main", "index": 0 }]]
    },
    "7. 계약 유효성 검증": {
      "main": [[{ "node": "8. 계약 유효?", "type": "main", "index": 0 }]]
    },
    "8. 계약 유효?": {
      "main": [
        [{ "node": "9. Mock 심사 처리", "type": "main", "index": 0 }],
        [{ "node": "8-1. 계약 무효 응답", "type": "main", "index": 0 }]
      ]
    },
    "9. Mock 심사 처리": {
      "main": [[{ "node": "10. 심사 결과 저장", "type": "main", "index": 0 }]]
    },
    "10. 심사 결과 저장": {
      "main": [[{ "node": "11. 성공 응답", "type": "main", "index": 0 }]]
    },
    "API: 통계 조회": {
      "main": [[{ "node": "통계 쿼리", "type": "main", "index": 0 }]]
    },
    "통계 쿼리": {
      "main": [[{ "node": "통계 응답", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v3-complete",
  "meta": {
    "instanceId": "insurance-claim-system-v3"
  },
  "id": "insurance-claim-v3"
}
