n8n/workflows/insurance_claim_simple_test.json
{
  "name": "보험 청구 테스트 (DB 없음)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-claim",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "청구 접수",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "test-claim"
    },
    {
      "parameters": {
        "jsCode": "// 입력 데이터 처리\nconst input = $input.first().json.body || $input.first().json;\n\nconst claimId = `CLM-${Date.now()}`;\nconst totalAmount = 1500000;\nconst approvedAmount = Math.round(totalAmount * 0.9) + 1000000;\n\nreturn [{\n  json: {\n    success: true,\n    claim_case_id: claimId,\n    policy_id: input.policy_id || 'POL-2024-001',\n    customer_name: input.customer_name || '홍길동',\n    status: 'approved',\n    ocr_result: {\n      diagnosis_name: '급성충수염',\n      diagnosis_code: 'K35.0',\n      treatment_type: '입원',\n      total_amount: totalAmount\n    },\n    review_result: {\n      total_claimed: totalAmount,\n      total_approved: approvedAmount,\n      total_rejected: Math.round(totalAmount * 0.1),\n      decision: '질병입원의료비 90% + 수술비 정액 지급 승인'\n    },\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Mock 심사 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "청구 접수": {
      "main": [[{ "node": "Mock 심사 처리", "type": "main", "index": 0 }]]
    },
    "Mock 심사 처리": {
      "main": [[{ "node": "응답 반환", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
